:root {
  /* Backgrounds */
  --back-black-1: #0d0d11;
  --back-black-2: #0b1217;
  --back-gray-1: #141b22;
  --back-gray-2: #1b2226;
  --back-green: #307165;
  /* Text */
  --text-green: #21e786;
  --text-white: #ffffff;
  --text-gray-1: #c2c3c5;
  --text-gray-2: #888b8e;
  --text-gray-3: #141b22;
  --text-gray-4: #1e2832;
  --text-black-1: #040b11;
  /* Buttons */
  --primary-green: #21e786;
  --primary-violet: #5865f2;
  --primary-black: #141b22;
  /* Gradients */
  --gradient-default: linear-gradient(270deg, #2333de 0%, #0abe66 100%);
  --gradient-gray: linear-gradient(180deg, #ffffff 0%, #ffffffe0 100%);
  --gradient-green: linear-gradient(45deg, #21e786 0%, #21e786 100%);
  --gradient-black: linear-gradient(315deg, #040b11 52%, #040b11 73%);
  --gradient-hero: linear-gradient(180deg, #141b22 0%, #040b11 100%);
  /* Transparent */
  --transparent-green: #21e7861a;
  --transparent-gray-1: #ffffff1a;
  --transparent-gray-2: #ffffff0d;
  --transparent-gray-3: #41454a66;
  --transparent-gray-4: #c2c3c526;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bakbak-one {
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hidden-heading {
  display: none;
}

.color-highlight {
  background: transparent;
  color: #21e786;
}

body {
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

/* Header Section */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 108px;
  background: #040b11;
}

.navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 0;
  margin: 0 61.5px 0 67.5px;
}

.navbar li {
  display: flex;
  align-items: center;
}

.navbar li a {
  font-family: Bakbak One;
  font-size: 16px;
  font-weight: inherit;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.nav-logo {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 32px;
  font-weight: inherit;
  line-height: 42px;
  text-align: left;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 384px;
  height: 48px;
  gap: 20px;
  font-size: 16px;
  font-weight: inherit;
  line-height: 24px;
  text-align: left;
}

.is-theme,
.discord-btn,
.connect-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discord-btn,
.connect-btn {
  padding: 12px 24px;
  gap: 8px;
  width: 147px;
  height: 48px;
}

.is-theme {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: #141b22;
  border: none;
}

.header-btn .discord-btn {
  background: #141b22;
  color: #fff;
  width: 149px;
  height: 48px;
}

.header-btn .connect-btn {
  background: #21e786;
  color: #141b22;
  width: 147px;
  height: 48px;
}

/* Main tag*/
main {
  background-color: var(--back-black-1);
}

/* Hero Section */
.main-container {
  width: 100%;
  height: 846px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-image: url("../imgs/hero-section-glow.svg"),
    url("../imgs/background-hero-star.svg"), var(--gradient-hero);
  background-size: auto, auto, cover;
  background-position: 0 0, bottom right, center center;
  background-repeat: no-repeat;
}

.main-inner-container {
  width: 750px;
  height: 500px;
  position: relative;
  left: 255px;
}

.main-text-container {
  gap: 20px;
}

.main-heading {
  width: 750px;
  height: 240px;
  font-size: 72px;
  font-weight: inherit;
  color: #ffffff;
  line-height: 80px;
  gap: 20px;
}

.main-heading mark {
  font-size: 72px;
  text-align: left;
}

.main-text {
  font-size: 20px;
  font-weight: inherit;
  text-align: left;
  line-height: 30px;
  margin-top: 20px;
}

.main-info-container {
  width: 373px;
  height: 186px;
  margin-top: 24px;
  display: grid;
  gap: 48px;
  width: 373px;
  height: 186px;
}

.main-info-text {
  display: flex;
  width: 345px;
  height: 90px;
  gap: 79px;
  line-height: 26px;
}

.total-item-num {
  width: 117px;
  height: 56px;
  font-size: 44px;
  line-height: 56px;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 4px 13px #ffffff;
}

.item-num-subheading {
  font-size: 16px;
  font-weight: inherit;
  line-height: 26px;
  text-align: left;
  color: #c2c3c5;
}
.main-total-item,
.main-profiles-whitelist {
  display: grid;
  gap: 8px;
}

.profiles-whitelist-num {
  width: 117px;
  height: 56px;
  font-size: 44px;
  line-height: 56px;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 4px 13px #ffffff;
}

.profiles-whitelist-subheading {
  font-size: 16px;
  font-weight: inherit;
  line-height: 26px;
  text-align: left;
  color: #c2c3c5;
}

.main-container-btn {
  display: flex;
  gap: 24px;
}

.connect-wallet-btn {
  width: 181px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  gap: 8px;
  font-size: 16px;
  font-weight: inherit;
  line-height: 24px;
  text-align: left;
  background-color: #21e786;
  color: #141b22;
}

.main-whitelist-btn {
  outline: 2px solid #21e786;
  width: 168px;
  height: 46px;
  padding: 12px 24px 12px 24px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

/* Products list section */
.nft-card-container {
  width: 100%;
  height: max-content;
  left: -105px;
  display: grid;
  overflow: hidden;
}

.nft-cards-list {
  display: flex;
  position: relative;
  margin-top: 60px;
  gap: 30px;
  left: -105px;
  list-style-type: none;
}

.nft-card {
  background-color: var(--transparent-gray-2);
  width: 330px;
  display: grid;
  height: 378px;
}

.nft-content-container {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.nft-card a {
  width: 290px;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
}

/* About us section */

.about-content {
  background-image: url("../imgs/about-back-star.svg");
  background-position: bottom left;
  height: 100%;
  width: 100%;
}

.about-content-container {
  width: 1410px;
  height: 772px;
  display: grid;
  place-items: center;
  margin: 0 auto;
  color: #ffffff;
}

.about-text-container {
  margin-top: 100px;
  text-align: center;
  width: 930px;
  height: 156px;
  display: grid;
  gap: 16px;
}

.about-heading {
  font-size: 44px;
  font-weight: inherit;
  line-height: 56px;
}

.about-text {
  font-size: 18px;
  font-weight: inherit;
  line-height: 28px;
  text-align: center;
  color: #c2c3c5;
}

.about-cards {
  margin-top: 60px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 1170px;
  height: 478px;
  gap: 30px;
}

.about-card-item {
  background-color: #141b22;
  width: 570px;
  height: 224px;
  display: grid;
  padding: 30px;
}

.about-card-item:nth-child(1) {
  background-image: url("../imgs/about-top-glow.svg"),
    url("../imgs/about-bottom-glow.svg");
  background-position: top left, bottom right;
  background-size: auto;
  background-repeat: no-repeat;
}

.about-card-heading + p {
  color: #c2c3c5;
}

.about-card-heading-container {
  position: relative;
  width: 100%;
  height: 66px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about-card-heading-container .about-card-number {
  font-family: Bakbak One;
  font-size: 80px;
  line-height: 96px;
  text-align: left;
  width: max-content;
  border: 1px solid #21e786;
}

.about-card-item h3 {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.about-card-item p {
  width: 510px;
  height: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #c2c3c5;
}

.read-more-btn {
  color: #ffffff;
  width: max-content;
  height: 48px;
  padding: 12px 24px 12px 24px;
  border: 2px solid #21e786;
  margin-top: 30px;
}
